GEMINI_API_KEY="YOUR API KEY"
GEMINI_MODEL=gemini-flash-lite-latest

CHROMA_PATH=chroma_data
EMBEDDING_MODEL=all-MiniLM-L6-v2

NEO4J_URI=neo4j+s://2ba15686.databases.neo4j.io
NEO4J_USERNAME=2ba15686
NEO4J_PASSWORD=xgqzCEkuduv1zpmbx_YIT9wgDdQ9U2FY5cLJzQhQJXA

JWT_SECRET_KEY=52b30b0728ecc05457e85f0e77afac1f578849ad722cafb3c596b4e94007a0cd
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=1440